* {
  font-family:  nunito , fantasy;
  padding: 0.313em;
  padding-top: 0.313em;
  padding-bottom: 0.313em;
}
ul {
  text-align: center;
}
p
{
  font-size: 1em;
}
#title {
  width: 100%; height:8.13em; border-radius: 0.625; background-color:#6368FF;
}
#githelp {
  width: 100%; height:1.5em; background-color:#9596B2;
}
#gitstatus {
  width: 100%; height:1.5em; background-color:#FF7C3E;
}
#gitconfig {
width: 100%; height:7.5em; background-color:#9596B2;
}
#gitadd {
width: 100%; height:4em; background-color:#FF7C3E;
}
#gitcommit {
width: 100%; height:7.8em; background-color:#9596B2;
}
#gitlog {
width: 100%; height:7.5em; background-color:#FF7C3E;
}
#gitdiff {
  width: 100%; height:1.5em; background-color:#9596B2;
}
#gitcheckout {
  width: 100%; height:4em; background-color:#FF7C3E;
}
#man {
  width: 100%; height:1.5em; background-color:#9596B2;
}
div
{
  font-size: 1em;
  border-radius: 0.625em;
  border: solid black 0.062em;
  margin-bottom: 0.2em;
  padding-bottom: 0.5em;
  }
a {
  font-style: italic;
  font-weight: bold;
  font-size: 1.125em;
}
.notion {
  font-style: italic;
  font-weight: bold;
}
h1 {
  text-align: center;
}
h3 {
  text-align: right;
  font-style: italic;
}
